.HomePage {
  width: 1300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  animation: gradientAnimation 6s infinite alternate;
}
